<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="{{ site.baseurl }}/products">Products</a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/about">About us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>